.form-container{
    background: #f7f7f7;
    padding: 30px;
    border-radius: 10px;;
    box-shadow: 0px 0px 10px 0px #000;

}
#thatimg{
    max-width: 27%;
    float: left;
}
#thattext{
    float: right;
    text-align: left;
}
body{
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 500px){
    .form-container{
        min-width: 400px;
    }
}